odoo-addon-stock_restrict_lot @ git+https://github.com/OCA/stock-logistics-workflow.git@refs/pull/2151/head#subdirectory=stock_restrict_lot
odoo-addon-sales_team_security @ git+https://github.com/OCA/sale-workflow.git@refs/pull/3960/head#subdirectory=sales_team_security
